<%= render :partial => 'layouts/header' %>

<div id="info">
	<div id="info-content">
		<div class="row">
			<% for @index in @first_row %>
				<div class="four columns">
					<div class="image-border">
						<% if !@apartments[@index].nil? %>
							<a href="<%= request.protocol+request.host_with_port+"/apartments/"+@apartments[@index].id.to_s %>">
								<img class="house" src="<%= @apartments[@index].avatar.url(:thumb) %>">
								<div class="layer layer-title"> <b> <%= @apartments[@index].zone.first(20).to_s %> </b>
									<% if @apartments[@index].zone.size > 20 %> 
										... 
									<% end %>
								</div>
								<div class="layer layer-type"> <b><%= @apartments[@index].ap_type %> </b> </div>
								<div class="layer layer-price"> <b><%= @apartments[@index].min_price %>€ </b> </div>
							</a>
						<% else %>
							<img class="house" src="<%= asset_path('house.png') %>">
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row">
			<% for @index in @second_row %>
				<div class="four columns">
					<div class="image-border">
						<% if !@apartments[@index].nil? %>
							<a href="<%= request.protocol+request.host_with_port+"/apartments/"+@apartments[@index].id.to_s %>">
								<img class="house" src="<%= @apartments[@index].avatar.url(:thumb) %>">
								<div class="layer layer-title"> <b> <%= @apartments[@index].zone.first(20).to_s %> </b>
									<% if @apartments[@index].zone.size > 20 %> 
										... 
									<% end %>
								</div>
								<div class="layer layer-type"> <b><%= @apartments[@index].ap_type %> </b> </div>
								<div class="layer layer-price"> <b><%= @apartments[@index].min_price %>€ </b> </div>
							</a>
						<% else %>
							<img class="house" src="<%= asset_path('house.png') %>">
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row">
		  <div class="four columns offset-by-eight">
		  		<a href="#" class="more white button">Mais</a>
		  </div>
		</div>
	</div>
</div>


